{
  "resource": {
    "digitalocean_ssh_key": {
      "machine": {
        "name": "{{profile}}",
        "public_key": "{{public_key}}",
        "lifecycle": {
          "prevent_destroy": "{{prevent_destroy}}"
        }
      }
    }
  },
  "output": {
    "ssh_key_id": {
      "value": "${digitalocean_ssh_key.machine.id}"
    },
    "registration": {
      "value": {
        "provider": "digitalocean",
        "scope": "account",
        "id": "${digitalocean_ssh_key.machine.id}"
      }
    }
  }
}
