{:paths ["src/clj" "src/resources" "test/clj"]
 :deps {io.github.getcolors/colors-compute {:local/root "."}}
 :tasks {test {:requires ([clojure.test :as t]
                         [io.github.getcolors.compute-power-test]
                         [io.github.getcolors.compute-gcs-test]
                         [io.github.getcolors.compute-managed-backend-test]
                         [io.github.getcolors.compute-recovery-test]
                         [io.github.getcolors.compute-test]
                         [io.github.getcolors.compute-request-test]
                         [io.github.getcolors.compute-lifecycle-test]
                         [io.github.getcolors.compute-managed-journal-test]
                         [io.github.getcolors.compute-managed-test]
                         [io.github.getcolors.compute-execution-test]
                         [io.github.getcolors.compute-drift-test]
                         [io.github.getcolors.compute-planning-test]
                         [io.github.getcolors.compute-registration-test]
                         [io.github.getcolors.compute-orchestration-test]
                         [io.github.getcolors.compute-workflow-test]
                         [io.github.getcolors.compute-runtime-test]
                         [io.github.getcolors.compute-coordination-test]
                         [io.github.getcolors.compute-journal-test]
                         [io.github.getcolors.compute-coordinator-test]
                         [io.github.getcolors.compute-ssh-test])
               :task (let [{:keys [fail error]} (t/run-tests 'io.github.getcolors.compute-gcs-test 'io.github.getcolors.compute-recovery-test 'io.github.getcolors.compute-managed-backend-test 'io.github.getcolors.compute-power-test 'io.github.getcolors.compute-test 'io.github.getcolors.compute-request-test 'io.github.getcolors.compute-lifecycle-test 'io.github.getcolors.compute-managed-journal-test 'io.github.getcolors.compute-managed-test 'io.github.getcolors.compute-execution-test 'io.github.getcolors.compute-drift-test 'io.github.getcolors.compute-planning-test 'io.github.getcolors.compute-registration-test 'io.github.getcolors.compute-orchestration-test 'io.github.getcolors.compute-workflow-test 'io.github.getcolors.compute-runtime-test 'io.github.getcolors.compute-coordination-test 'io.github.getcolors.compute-journal-test 'io.github.getcolors.compute-coordinator-test 'io.github.getcolors.compute-ssh-test)]
                       (System/exit (if (pos? (+ fail error)) 1 0)))}}}
