{
  "resource": {
    "aws_key_pair": {
      "machine": {
        "key_name": "{{profile}}",
        "public_key": "{{public_key}}"
      }
    }
  },
  "output": {
    "ssh_key_id": {
      "value": "${aws_key_pair.machine.id}"
    },
    "key_name": {
      "value": "${aws_key_pair.machine.key_name}"
    },
    "registration": {
      "value": {
        "provider": "aws",
        "scope": "region",
        "id": "${aws_key_pair.machine.id}"
      }
    }
  }
}
