{
  "terraform": {
    "required_providers": {
      "hcloud": {
        "source": "hetznercloud/hcloud",
        "version": "1.54.0"
      }
    }
  },
  "provider": {
    "hcloud": {}
  },
  "resource": {
    "hcloud_network": {
      "network": {
        "name": "{{network_name}}",
        "ip_range": "{{network_cidr}}",
        "lifecycle": {
          "prevent_destroy": "{{prevent_destroy}}"
        }
      }
    },
    "hcloud_network_subnet": {
      "network": {
        "network_id": "${hcloud_network.network.id}",
        "type": "cloud",
        "network_zone": "{{network_zone}}",
        "ip_range": "{{subnet_cidr}}",
        "lifecycle": {
          "prevent_destroy": "{{prevent_destroy}}"
        }
      }
    },
    "hcloud_firewall": {
      "network": {
        "name": "{{firewall_name}}",
        "rule": "{{public_rules}}",
        "lifecycle": {
          "prevent_destroy": "{{prevent_destroy}}"
        }
      }
    }
  },
  "output": {
    "params": {
      "value": {
        "provider": "hcloud",
        "vpc_id": "${hcloud_network.network.id}",
        "vpc_ip_range": "${hcloud_network.network.ip_range}",
        "subnet_id": "${hcloud_network_subnet.network.id}",
        "subnet_cidr": "${hcloud_network_subnet.network.ip_range}",
        "firewall_id": "${hcloud_firewall.network.id}",
        "network_cidr": "${hcloud_network.network.ip_range}"
      }
    }
  }
}
